nav>div {
    background-color: gray;
}

.navbar-nav>a:hover {
    color: white;
}

h1 {
    margin-top: 80px;
}

.card {
    background-color: #edf2fb;
}

.table {
    background-color: #edf2fb;
    margin-top: 20px;
}

.table th, .table td {
    text-align: center;
}
